# This file contains pin mappings for the LDO Rethonance Hub

# See http://docs.ldomotors.com/toolboard/rethonance#firmware-setup-and-update
# For instructions on uploading/updating klipper firmware to the onboard mcu

# Klipper make menuconfig options:
# Processor model: STM32G0B1
# Bootloader offset (for Katapult): 8KiB bootloader
# Clock Reference: 12Mhz crystal
# Communication interface: USB (on PA11/PA12)

[mcu rth]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial:/dev/serial/by-path/usb-Klipper_STM32_E012345678900000-if00
restart_method: command
##--------------------------------------------------------------------

#####################################################################
#   Accelerometer
#####################################################################
## ADXL1
#[adxl345 adxl1]
#cs_pin: rth:PA1
#spi_bus: rth:spi1
#
#[temperature_sensor adxl1_th]
#sensor_type: NCU15WF104D60RC
#sensor_pin: rth:PB0
#pullup_resistor: 2200
#min_temp: 0
#max_temp: 65
#
#[resonance_tester]
#accel_chip: adxl1
#accel_per_hz: 100
#sweeping_accel: 400
#sweeping_period: 0

## ADXL2
#[adxl345 adxl2]
#cs_pin: rth:PB13
#spi_bus: rth:spi2
#
#[temperature_sensor adxl2_th]
#sensor_type: NCU15WF104D60RC
#sensor_pin: rth:PB12
#pullup_resistor: 2200
#min_temp: 0
#max_temp: 65
#
#[resonance_tester]
#accel_chip: adxl2
#accel_per_hz: 100
#sweeping_accel: 400
#sweeping_period: 0

#####################################################################
#   Thermistor Ports
#####################################################################
[thermistor NCU15WF104D60RC]
temperature1: 25
resistance1: 100000
beta: 4250

#[temperature_sensor rth_th1]
#sensor_type: Generic 3950
#sensor_pin: rth:PA4
#pullup_resistor: 2200
#min_temp: 0
#max_temp: 200

#[temperature_sensor rth_th2]
#sensor_type: Generic 3950
#sensor_pin: rth:PA0
#pullup_resistor: 2200
#min_temp: 0
#max_temp: 200

#[temperature_sensor rth_th3]
#sensor_type: Generic 3950
#sensor_pin: rth:PA2
#pullup_resistor: 2200
#min_temp: 0
#max_temp: 200

#[temperature_sensor rth_th4]
#sensor_type: Generic 3950
#sensor_pin: rth:PA3
#pullup_resistor: 2200
#min_temp: 0
#max_temp: 200

#####################################################################
#   SPI Ports
#####################################################################
#[adxl345 another_spi_device]
#cs_pin: rth:PA6
#spi_software_sclk_pin: rth:PB3
#spi_software_mosi_pin: rth:PB5
#spi_software_miso_pin: rth:PB4